@import url("https://fonts.googleapis.com/css?family=Montserrat");

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

html.sr .load-hidden {
  visibility: hidden;
}

/*-----------------------------------------------------------------------------
mobile version
----------------------------------------------------------------------------*/
.sky {
  height: 100vh;
}

.header {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  z-index: 400;
}

.navScroll {
  /* adds a background to navbar while scrolling*/
  background: rgba(48, 42, 73, 0.7);
  transition: 1s ease;
}

.logo {
  grid-column: 1;
  grid-row: 2;
}

.logo img {
  width: 50px;
  padding: 2em 2em;
}

/*       burger menu     */

.header .menu a,
.header .menu a:visited,
.header .menu a:hover,
.header .menu a:active {
  color: #ffff;
  text-decoration: none;
}

.outer-menu {
  position: relative;
  width: auto;
  left: 0;
  z-index: 600;
  grid-area: burger;
  justify-self: right;
  align-self: center;
}

.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  z-index: 700;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.outer-menu .checkbox-toggle:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}

.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}

.outer-menu .checkbox-toggle:checked ~ .menu > div {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
}

.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.outer-menu .hamburger {
  position: relative;
  top: 0;
  left: 0;
  z-index: 600;
  width: 60px;
  height: 60px;
  padding: 0.5em 1em;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.outer-menu .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 60%;
  height: 2px;
  background: white;
  color: #949698;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 600;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.outer-menu .hamburger > div:after {
  top: 10px;
}

.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.outer-menu .menu > div {
  width: 300vw;
  height: 300vw;
  color: #fefefe;
  background: rgba(48, 42, 73, 0.7);
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.outer-menu .menu > div > div > ul {
  list-style: none;
  margin: 0;
  display: block;
  max-height: 100vh;
}

.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}

.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}

.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}

.outer-menu .menu > div > div > ul > li > a:after {
  content: "";
  position: absolute;
  z-index: 600;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

.webNav {
  display: none;
}

/*   sections */

.white {
  height: 100vh;
  width: auto;
  text-align: center;
  padding: 5em 2em;
}

.white img {
  width: 50vw;
  height: auto;
}

.white-reveal,
.blue-reveal {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%); /* center div inside div vertically*/
}

.blue {
  height: 100vh;
  background-color: #302a49;
  color: white;
  text-align: center;
  padding: 5em 2em;
  position: relative;
}

.blue img {
  width: 60vw;
  padding-bottom: 2em;
  padding-top: 2em;
}

/*      footer    */
footer {
  background-color: #c5a1ce;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer img {
  width: 8%;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  grid-column: 1/-1;
  text-align: center;
  padding: 5em 2em 0em 2em;
  color: rgba(255, 255, 255, 0.7);
}

/*     ABOUT ME PAGE    */
.me-pic img {
  width: 100%;
}
.me-pic {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 1;
  top: 5%;
}
/*-----------------------------------------------------------------------------
web version
----------------------------------------------------------------------------*/

@media screen and (min-width: 800px) {
  .sky {
    width: 100vw;
    height: auto;
  }
  .outer-menu {
    display: none;
  }
  .webNav {
    display: block;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 600;
    align-items: center;
    padding: 2em 0em;
  }

  .webNav li {
    display: inline;
    float: right;
  }
  .webNav li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
}
